@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

h4 {
    color: #6415ff;
}

.btn {
    padding: 12px 32px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    background-color: #6415ff;
    border: none;
    border-radius: 9999px;
}

.text--color {
    color: #6415ff;
}

nav {
    padding-top: 32px;
    display: flex;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    margin: 8px 0;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px
}

.nav__links {
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600px;
    padding-top: 4px;
    position: relative;
    transition: all 300ms;
    margin: 0 24px;
}

.nav__link--primary {
    margin: 0 auto;
    margin-top: 2px;
    padding: 10px 32px;
    line-height: 1.5;
}

/* HEADER */


.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__img--wrapper {
    width: 60%;
}

.header__img {
    width: 100%;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

.customers__logo--wrapper {
    width: 100%;
    font-size: 8px;
}

.customers__logo--img {
    width: 100%;
    display: flex;
}

h4 .customers__logo--wrapper {
    color: #a0aec0;
}

.header__description--para {
    margin: 32px 0;
    font-size: 18px;
}

.email__input {
    width: 100%;
    margin-bottom: 80px;
}

/* FEATURES */

.row__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.features__description {
    margin: 16px 0;
}

.features__description--para {
    text-align: center;
    max-width: 576px;
    font-size: 18px;
}

h2 {
    font-size: 48px;
}

.features {
    display: flex;
    flex-wrap: wrap;
}

.feature {
    width: calc(100%/3);
    display: flex;
    padding: 24px;
}

.feature__img {
    width: 20%;
}

.feature__text {
    width: 80%;
}

.feature__img--wrapper {
    border: 1px solid #243e63;
    width: 40px;
    height: 40px;
    border-radius: 50%;
} 

.feature__img--logo {
    width: 100%;
    padding: 8px;
}

.feature__title {
    font-weight: bold;
}

.feature__description {
    color: rgb(124, 139, 161);
    line-height: 2;
    padding-top: 16px;
    font-weight: 500;
}

/* QUALITY */

#quality .row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quality__description {
    width: 50%;
}

.quality__description--title {
    padding: 16px 0;
}

.quality__description--para {
    padding-bottom: 16px;
}

.quality__img--wrapper {
    width: 50%;
}

.quality__img {
    width: 100%;
    z-index: 1;
    /* img corner */
}

.quality__img--decoration {
    z-index: 0;
}

/* STEPS */

#steps .row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.steps__img--wrapper {
    width: 50%;
}

.steps__img {
    width: 100%;
}

.steps__description {
    width: 50%;
    padding: 32px;
    margin-left: 64px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.steps {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.step {
    display: flex;
    align-items: flex-start;
}

.step__number {
    color: #cbd5e0;
    font-size: 32px;
    margin-right: 24px;
}

.step__para {
    padding: 16px 0;
    color: #718096;
    font-weight: 300;
}

/* VALUES */


#values .row {
    display: flex;
    width: 100%;
    max-width: 1280px;
    align-items: center;
    gap: 20px;
}

.values__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.values__img--wrapper {
    width: 50%;
}

.values__img {
    width: 100%;
}

.values__cards {
    display: flex;
    gap: 20px;
}

.values__card--title-line {
    display: flex;
    align-items: center;
}

.values__icon--wrapper {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #9ae6b4;
    margin-right: 8px;
}

.values__icon {
    display: flex;
    width: 100%;
    padding: 8px;
}

.briefcase {
    background-color: #feb2b2;
}

/* PRICING */

.pricing__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.pricing__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pricing__description--para {
    max-width: 620px;
    text-align: center;
    color: #718096;
}

.pricing-plans {
    display: flex;
    max-width: 1280px;
    justify-content: center;
    gap: 24px;
    margin-top: 56px;
}

.pricing-plan {
    border: 1px solid #dcdee0;
    border-radius: 3%;
    box-shadow: 0 4px 8px #dcdee0;
    padding: 32px;
    width: calc(100%/3);
    transition: all 300ms ease;
}

.pricing-plan:hover {
    scale: calc(1.03);
}

.plan__top {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.plan__title {
    font-size: 14px;
}

.plan__price {
    font-size: 48px;
    font-weight: bold;
}

.plan__subtitle {
    font-size: 10px;
    font-weight: 600;
    color: #718096;
}

.plan__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-top: 1px solid #dcdee0;
}

.plan__audience {
    font-weight: bold;
    padding: 12px;
    text-align: center;
}

.plan__items {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.plan__item {
    color: #718096;
    font-weight: 400;
    font-size: 12px;
}

.plan__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    border-top: 1px solid #dcdee0;
    margin: 0 auto;
    
}

.plan__btn {
    margin: 16px 16px;
    transition: all 300ms ease;
}

.plan__btn:hover {
    background-color: #9565f6;
    cursor: grab;
}