@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.text--color {
    color: #6415ff;
}

nav {
    padding-top: 32px;
    display: flex;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    margin: 8px 0;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px
}

.nav__links {
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600px;
    padding-top: 4px;
    position: relative;
    transition: all 300ms;
    margin: 0 24px;
}

.nav__link--primary {
    margin: 0 auto;
    margin-top: 2px;
    background-color: #6415ff;
    border-radius: 9999px;
    color: #fff;
    padding: 10px 32px;
    line-height: 1.5;
    transition: all 300ms ease;
}

/* HEADER */


.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__img--wrapper {
    width: 60%;
}

.header__img {
    width: 100%;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

.customers__logo--wrapper {
    width: 100%;
    font-size: 8px;
}

.customers__logo--img {
    width: 100%;
    display: flex;
}

h4 .customers__logo--wrapper {
    color: #a0aec0;
}

.header__description--para {
    margin: 32px 0;
    font-size: 18px;
}

.email__input {
    width: 100%;
    margin-bottom: 80px;
}

/* FEATURES */

.row__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
}

.features__description {
    margin: 16px 0;
}

.features__description--para {
    text-align: center;
    max-width: 576px;
    font-size: 18px;
}

h2 {
    font-size: 48px;
}

.features {
    display: flex;
    flex-wrap: wrap;
}

.feature {
    width: calc(100%/3);
    padding: 24px;
}

.feature__img {
    width: 20%;
}

.feature__img--wrapper {
    border: 1px solid #243e63;
    width: 40px;
    height: 40px;
    border-radius: 50%;
} 

.feature__img--logo {
    width: 100%;
    padding: 8px;
}

.feature__text {
    width: 80%;
}


