@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

h4 {
    color: #6415ff;
}

.btn {
    padding: 12px 32px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    background-color: #6415ff;
    border: none;
    border-radius: 9999px;
}

.text--color {
    color: #6415ff;
}

nav {
    padding-top: 32px;
    display: flex;
}

.row__nav {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    margin: 8px 0;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    font-size: 14px;
    font-weight: 600px;
    padding-top: 4px;
    position: relative;
    transition: all 300ms;
    margin: 0 24px;
}

.nav__link--primary {
    margin: 0 auto;
    margin-top: 2px;
    padding: 10px 32px;
    line-height: 1.5;
}

.btn__menu {
    background: transparent;
    border: none;
    color: #6415ff;
}

.menu__backdrop {
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu__open .menu__backdrop {
    opacity: 1;
    visibility: visible;
}

.menu__open {
    max-height: 60vh;
    overflow-y: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    font-size: 40px;
    color: white;
}



/* HEADER */


.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__img--wrapper {
    width: 60%;
}

.header__img {
    width: 100%;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

.customers__logo--wrapper {
    width: 100%;
    font-size: 8px;
}

.customers__logo--img {
    width: 100%;
    display: flex;
}

h4 .customers__logo--wrapper {
    color: #a0aec0;
}

.header__description--para {
    margin: 32px 0;
    font-size: 18px;
}

.email__input {
    width: 100%;
    margin-bottom: 80px;
}

/* FEATURES */

.row__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.features__description {
    margin: 16px 0;
}

.features__description--para {
    text-align: center;
    max-width: 576px;
    font-size: 18px;
}

h2 {
    font-size: 48px;
}

.features {
    display: flex;
    flex-wrap: wrap;
}

.feature {
    width: calc(100%/3);
    display: flex;
    padding: 24px;
}

.feature__img {
    width: 20%;
}

.feature__text {
    width: 80%;
}

.feature__img--wrapper {
    border: 1px solid #243e63;
    width: 40px;
    height: 40px;
    border-radius: 50%;
} 

.feature__img--logo {
    width: 100%;
    padding: 8px;
}

.feature__title {
    font-weight: bold;
}

.feature__description {
    color: rgb(124, 139, 161);
    line-height: 2;
    padding-top: 16px;
    font-weight: 500;
}

/* QUALITY */

#quality .row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quality__description {
    width: 50%;
}

.quality__description--title {
    padding: 16px 0;
}

.quality__description--para {
    padding-bottom: 16px;
}

.quality__img--wrapper {
    width: 50%;
    border: 4px;
    border: 1px solid rgb(229, 231, 235);
    margin: 0 56px;
    z-index: 2;
    position: relative;
    display: flex;
}

.quality__img {
    width: 100%;
    z-index: 1;
}

.quality__grid {
transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
width: 80px;
height: 80px;
position: absolute;
right: 0px;
bottom: 0px;
fill: rgb(100,21,255);
--tw-text-opacity: 1;
color: rgba(100,21,255,var(--tw-text-opacity));
z-index: 0;
display: block;
}

/* STEPS */

#steps .row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.steps__img--wrapper {
    width: 50%;
    position: relative;
}

.steps__img {
    width: 100%;
    z-index: 1;
    position: relative;
}

.steps__grid {
position: absolute;
opacity: 0.15;
right: 0;
bottom: 0;
left: 50%;
transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
width: 80px;
height: 80px;
fill: rgba(100,21,255);
z-index: 0;
}

.steps__description {
    width: 50%;
    padding: 32px;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.steps {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.step {
    display: flex;
    align-items: flex-start;
}

.step__number {
    color: #cbd5e0;
    font-size: 32px;
    width: 16%;
}

.step__para {
    padding: 16px 0;
    color: #718096;
    font-weight: 300;
}

/* VALUES */


#values .row {
    display: flex;
    width: 100%;
    max-width: 1280px;
    align-items: center;
    gap: 20px;
}

.values__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.values__img--wrapper {
    width: 50%;
}

.values__img {
    width: 100%;
}

.values__cards {
    display: flex;
    gap: 20px;
}

.values__card--title-line {
    display: flex;
    align-items: center;
}

.values__icon--wrapper {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #9ae6b4;
    margin-right: 8px;
}

.values__icon {
    display: flex;
    width: 100%;
    padding: 8px;
}

.briefcase {
    background-color: #feb2b2;
}

/* PRICING */

.pricing__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pricing__description--para {
    max-width: 620px;
    text-align: center;
    color: #718096;
}

.pricing-plans {
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    width: 100%;
    margin-top: 56px;
    gap: 32px;
    position: relative;
}

.pricing-plan {
    background-color: white;
    border: 1px solid #dcdee0;
    border-radius: 3%;
    box-shadow: 0 4px 8px #dcdee0;
    padding: 32px 0;
    width: calc(100%/3);
    transition: all 300ms ease;
    position: relative;
    z-index: 1;
}

.plans__blob {
    z-index: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    height: 256px;
    width: 256px;
    opacity: 0.25;
}

.pricing-plan:hover {
    scale: calc(1.03);
}

.plan__top {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.plan__title {
    font-size: 14px;
}

.plan__price {
    font-size: 48px;
    font-weight: bold;
}

.plan__subtitle {
    font-size: 10px;
    font-weight: 600;
    color: #718096;
    margin-bottom: 16px;
}

.plan__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-top: 1px solid #dcdee0;
}

.plan__audience {
    font-weight: bold;
    padding: 12px;
    text-align: center;
}

.plan__items {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    padding: 24px;
}

.plan__item {
    color: #718096;
    font-weight: 400;
    font-size: 12px;
}

.plan__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    border-top: 1px solid #dcdee0;
    margin: 0 auto;
}

.plan__btn {
    margin: 32px 16px;
    margin-top: 40px;
    transition: all 300ms ease;
}

.plan__btn:hover {
    opacity: 0.6;
    cursor: grab;
    transform: translate(1px, -1px);
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.9rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan__stripe-1 {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan-1 .plan__btn {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan-2 {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(129, 150, 241) 100%);
}

.plan-2 .plan__title,
.plan-2 .plan__subtitle,
.plan-2 .plan__price, 
.plan-2.plan__subtitle,
.plan-2 .plan__audience,
.plan-2 .plan__item {
    color: white;
}

.plan-2 .plan__btn {
    background: white;
    color: #6415ff;
}

.plan__stripe-3 {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan-3 .plan__btn {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/* TESTIMONIALS */

#testimonials .row {
    display: flex;
    gap: 40px;
    max-width: 1280px;
    width: 100%;
}

.testimonials__img--wrapper {
    width: 50%;
    display: flex;
}

.testimonials__img {
    width: 100%;
}

.testimonials__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.testimonials__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
}

.star {
    color: #fabf2a;
    margin-bottom: 16px;
}

.review__title {
    font-size: 16px;
    font-weight: bold;
}

.review--para {
    padding: 16px 0;
    color: #718096;
    font-weight: 300;
}

.testimonials__bottom {
    display: flex;
}

.reviewer__profile {
    display: flex;
    width: 100%;
    justify-content: start;
}

.reviewer-profile__img--wrapper {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin: 0 8px;
}

.profile__img {
    width: 100%;
}

.reviewer__name {
    font-size: 16px;
    font-weight: bold;
}

.reviewer__title {
    color: #718096;
    font-weight: 300;
}

.review__btn--wrapper {
    display: flex;
    align-items: end;
}

.review__arrow {
    border-radius: 50%;
    border: none;
    padding: 16px;
    margin: 0 4px;
    background-color: #edf2f7;
    transition: all 300ms ease;
}

.review__arrow i {
    color: #6415ff;
}

.review__arrow:hover {
    background-color: #d3d4d5;
}

/* CTA */

.cta__row {
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    padding: 72px 0;
    position: relative;
    overflow: hidden;
}

.start__blob--1 {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-80px) translateY(128px) scaleX(1) scaleY(1);
    width: 320px;
    height: 320px;
    z-index: 0;
    opacity: 0.5;
}
.start__blob--2 {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(80px) translateY(-256px);
    width: 320px;
    height: 320px;
    z-index: 0;
    opacity: 0.5;
}

.cta__row--content {
    display: flex;
    justify-content: space-between;
    padding: 0 72px
}

.cta__title {
    color: white;
    font-size: 28px;
    z-index: 1;
}

.cta__btn--row {
}

.btn-pink {
    background-color: #f56565;
}

.btn-purple {
    background-color: none;
    border: 1px solid rgb(160, 174, 192);
    margin-left: 16px;
}

/* FOOTER */

.row__footer {
    background-color: rgb(100, 21, 255);
    margin-bottom: -124px;
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.footer__blob--1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 320px;
    transform: translateX(-80px) translateY(-128px);
    z-index: 0;
    opacity: 0.5;
}
.footer__blob--2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 320px;
    transform: translateX(128px) translateY(192px);
    z-index: 0;
    opacity: 0.5;
}

.footer__menus {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #5c6167;
    flex-wrap: wrap;
    padding: 48px 0;
    width: 100%;
    max-width: 1280px;
    z-index: 1;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
}

.footer__links a {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.footer__menu h3 {
    color: white;
    padding: 24px 0;
    font-size: 14px;
    font-weight: 700;
    align-items: left;
}

.footer__bottom {
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    width: 100%;
    max-width: 1280px;
}

.footer__logo {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    margin: 8px 0;
}

.footer__logo--img {
    width: 40px;
    height: 40px;
}

.footer__logo--title {
    font-weight: 800;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    color: white;
}

.footer__copyright {
    color: rgb(220, 220, 220);
}

.footer__socials {
    display: flex;
    z-index: 1;
}

.footer__social--link {
    color: #1a202c;
    background-color: white;
    border-radius: 50%;
    padding: 6px;
    margin: 8px;
}

/* media query 

.footer__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

*/

@media (max-width: 768px) {

}

@media (max-width: 550px) {
    
}

@media (max-width: 1024px) {
    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }
}